/* Main column width */
.wp-block {
  max-width: 100%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

.editor-styles-wrapper {
  padding: 0 !important;
  & > *,
  .block-editor-block-list__block {
    margin: 0 !important;
  }
}

p.has-background {
  padding: 0 !important;
  margin: 0 !important;
}