.main-comment {
  border-radius: $border-radius-lg;
  background-color: white;
  box-shadow: $box-shadow;
  padding: 20px 4rem;
  .main-comment-star-wrapper {
    border-radius: 50rem;
    background-color: $lighter;
    display: flex;
    align-items: center;
    padding: 15px 3rem;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    svg {
      height: 24px;
      width: 24px;
    }
  }
  .main-comment-content {
    margin-top: 15px;
    font-size: 20px;
    color: $text-muted;
  }
  .main-comment-author-identity {
    & > p,
    & > a {
      font-size: 25px;
      color: $primary;
      font-weight: 600;
      text-decoration: none;
    }
  }
}